body {
    background-color: #FFF;
    padding-top: 4rem;
    font-family: 'Lato', sans-serif;
}

.container-fluid {
    max-width: 1000px;
}

@media (max-width: 576px) {
    .content-col {
        padding-left: 1.25rem;
    }
}
@media (min-width: 577px) {
    .content-col {
        padding-left: 3rem;
    }
}

@media (max-width: 991px) {
    .info-col {
        text-align: center;
        padding-bottom: 1rem;
    }
}
@media (min-width: 992px) {
    .info-col {
        text-align: left;
    }
}

img.avatar {
    border-radius: 9999px;
    width: 90px;
}

p.first {
    margin-top: 0.5rem;
}

.separator {
    margin: 0 0.4rem;
}