@import url( "web.css" );
body {
	background-color: #FFFFFF !important;
}
#resume {
	margin: 0 !important;
	padding: 1em 2em 3em 2em !important;
	border: 0 !important;
}
#more_jobs_trigger {
    display: none !important;
}
