body {
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    background-color: rgba(85, 26, 139, .4);
}

a {
    color: #8968CD;
}
a:hover {
    color: #551A8B;
}

@media (max-width: 576px) {
    .hide-xs {
        display: none;
    }
    .content-container {
        padding: 1rem;
        border-top: 1px solid #212529;
        border-bottom: 1px solid #212529;
        border-left: none;
        border-right: none;
    }
}
@media (min-width: 577px) {
    .hide-xs {
        display: inline-block;
    }
    .content-container {
        padding: 1rem 2rem;
        border: 1px solid #212529;
    }
}

@media (max-width: 768px) {
    .content-container {
        border-top: 1px solid #212529;
        border-bottom: 1px solid #212529;
        border-left: none;
        border-right: none;
    }
}
@media (min-width: 769px) {
    .content-container {
        border: 1px solid #212529;
    }
}

.content-container {
    margin: 2rem 0;
    background-color: #fff;
}

h2 {
    border-bottom: 1px solid #212529;
}

h3 {
    margin-bottom: 0;
}
h3:not(.first) {
    margin-top: 1rem;
}

ul {
    clear: both;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.separator {
    display: inline-block;
    margin: 0 0.4rem;
}

.meta {
    clear: both;
    font-size: 0.85rem;
}
.meta.solo {
    margin-bottom: 2rem;
}
.title {
    float: left;
}
.dates {
    float: right;
}

.contact {
    margin-bottom: 1rem;
}
.contact p {
    margin-bottom: 0;
}