body {
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    background: repeating-linear-gradient(
        45deg,
        #fafafa,
        #fafafa 20px,
        #ffffff 20px,
        #ffffff 40px
    );
}

a {
    color: #8b1a89;
}
a:hover {
    color: #000;
}

@media (max-width: 576px) {
    .hide-xs {
        display: none;
    }
    .content-container {
        padding: 1rem;
        border-top: 1px solid #212529;
        border-bottom: 1px solid #212529;
        border-left: none;
        border-right: none;
    }
}
@media (min-width: 577px) {
    .hide-xs {
        display: inline-block;
    }
    .content-container {
        padding: 1rem 2rem;
        border: 1px solid #212529;
    }
}

@media (max-width: 768px) {
    .content-container {
        border-top: 1px solid #212529;
        border-bottom: 1px solid #212529;
        border-left: none;
        border-right: none;
    }
}
@media (min-width: 769px) {
    .content-container {
        border: 1px solid #212529;
    }
}

.content-container {
    max-width: 1000px;
    margin: 2rem 0;
    background-color: #fff;
}

h2 {
    margin-top: 1rem;
    border-bottom: 1px solid #212529;
}

h3 {
    margin-bottom: 0;
}
h3:not(.first) {
    margin-top: 1.25rem;
}

ul {
    clear: both;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
li {
    margin-top: 0.25rem;
}

p {
    margin: 0;
}

.separator {
    display: inline-block;
    margin: 0 0.4rem;
}

.meta {
    clear: both;
}

.title {
    float: left;
    font-weight: bold;
}
.dates {
    float: right;
}

.title, .dates {
    margin: .25rem 0;
}
